.Weather h1,
h2,
small,
.temperature,
.city-input,
.search-button,
.temprature,
.date-time {
  font-weight: 200;
}
h1 {
  margin-top: 15px;
  margin-bottom: 0;
  display: block;
}

h2 {
  font-size: 24px;
}

small {
  font-size: 12px;
  display: block;
  text-align: center;
} 

.Weather canvas {
  margin-right: 10px;
  display: inline-block;
  padding-top: 8px;
  }
.Weather .temperature {
    font-size: 55px;
    font-weight: 300;
    
  }
  
  .Weather .units {
    position: relative;
    top: -26px;
    margin-left: 4px;
  }
  
  .Weather .climate {
    font-size: 20px;
    font-weight: 300;
  }
  
  .Weather .row {
    padding-bottom: 10px;
  }
  
  .Weather .weather-forecast {
    margin-top: 5px;
    text-align: center;
  }
  
  .Weather .weather-forecast-date {
    font-size: 16px;
    opacity: 0.5;
  }
  
  .Weather .weather-forecast-temp-min {
    opacity: 0.5;
  }
  
  .Weather .weather-forcast-temp {
    font-size: 13px;
  }
  
  .Weather .date-time {
    font-size: 20px;
    font-weight: 300;
  }
  
  
 
  